@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
}

header > menu > li > a {
    color: #fff;
    background-color: #1a3358;
    padding: 2px 20px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}

header > menu > li > a:hover {
    color: #1a3358;
    background-color: #fff;
}

menu {
    width: 80vw;
    margin: auto;
    display: flex;
    list-style: none;
    gap: 10px;
    /* flex-direction: row-reverse; */
    justify-content: end;
}

.user-db {
    font-weight: 900;
    font-size: 18px;
    text-transform: capitalize;
}

main {
    height: 90vh;
    background-color: #1a3358;
    color: #0894CC;
}

main > h1 {
    color: #0894CC;
    text-align: center;
    padding: 40px 0;
    text-transform: capitalize;
}

main > h1 > a {
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 100px;
    font-size: 15px;
}

table {
    border: 0.6px solid #FFFFFF;
    color: #FFFFFF;
    margin: auto;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
}

.tb-heading{
    color: #0894CC;
    text-transform: uppercase;
}

.top-raw {
    background-color: #0894CC;
    font-weight: 800;
}

.row-mysql {
    border-right: 0.2px solid #fff;
}

/* form rendering */
.main-form {
 display: flex;
 flex-direction: column;
}

form {
    background-color: #fff;
    width: 70vw;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.login-lbl {
    display: flex;
    margin-bottom: 40px;
    height: 40px;
    gap: 10px;
}

.login-input {
    width: 100%;
    padding: 4px;
    border: 0;
    border-bottom: 1px solid #0894CC;
    outline: none;
}

input > .checkbox {
    border: 0;
}

.btn-login {
    padding: 2px 25px;
    justify-self: center;
    border: 1px solid #0894CC;
    background-color: #1a3358;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 3px;
    /* width: 100%; */
    margin-top: 10px;
}

.btn-login:hover {
    color: #1a3358;
    background-color: #fff;
    cursor: pointer;
}

/* .checkbox {
    color: #1a3358;
    display: block; 
    border: 2px solid red;
} */

.note {
    color: #1a3358;
    margin-left: 20px;
}

.out {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.out > a {
    text-decoration: none;
    font-weight: 600;
    color: #1a3358;
}

@media only screen and (min-width: 768px) {
    form {
        width: 50vw;
    }
}

@media only screen and (min-width: 1024px) {
    form {
        width: 40vw;
    }
}

.alert {
    margin: auto;
    /* width: 70vw; */
    /* border-bottom: 1px solid #0894CC; */
    color: rgb(225, 60, 60);
    text-align: center;
    font-weight: 600;
}