/* @font-face {
    font-family: Catamaran;
    src: url(../asset/fonts/Catamaran-Black.ttf);
    color: red; 
} */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #FFFFFF;
    height: 10vh;
}

nav {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav > ul {
    list-style: none;
}

.logo {
    width: 30px;
}

.menu-desktop {
    display: none;
}

/* for desktop version */
@media only screen and (min-width: 600px){
    .menu-desktop {
        display: flex;
        list-style: none;
        gap: 2rem;
        cursor: pointer;
    }

    .menu-desktop :last-child {
        background-color: #1a3358;
        color: #FFFFFF;
        text-decoration: none;
        padding: 2px 8px;
        border: 0;
        font-weight: 600;
    }

    .menu {
        display: none;
    }
}

.menu {
    width: 30px;
    cursor: pointer;
}

main {
    background-image: url(../asset/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    /* background-blend-mode: ; */
    background-position: center;
    height: 90vh;
}

.home {
    width: 80vw;
    margin: auto;
}

.main-title > h1 {
    text-transform: uppercase;
    color: #1a3358;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
}

.main-title > p {
    text-transform: capitalize;
    color: 0894CC;
    font-weight: 500;
}

.description {
    margin: 50px 0;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 2rem;
}

.btn-try {
    text-align: center;
    margin-top: 83px;
}

.btn-main {
    background-color: #1a3358;
    color: #FFFFFF;
    padding: 4px 30px;
    border: 0;
    font-weight: 600;
}

.empty {
    color: #FFFFFF;
    display: none;
}

@media only screen and (min-width: 768px){
    main {
        display: flex;
        background-image: url(../asset/bg-desk.png);
    }

    .home {
        width: 35%;
    }

    .empty {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-title > h1 {
       text-align: left;
       padding-left: 0;
    }
    
    .description {
        text-align: left;
        padding: 0;
    }
}
/* main body */

.div-about {
    width: 80vw;
    margin: 50px auto;
}

.div-about > ul {
    list-style: none;
}

.li-about {
    padding-bottom: 20px;
    text-align: justify;
}

.p-values {
    padding-top: 10px;
    margin: 0 20px;
    width: 80%;
    margin: auto;
    list-style: decimal-leading-zero;
}

@media only screen and (min-width: 1024px){
    .div-about {
        display: flex;
    }

    .li-about > strong {
        color: #0894CC;
    }

    .ul-about {
        width: 50%;
    }

    .card {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* form portion */
.div-form {
    background-color: #1a3358;
}

form{
    width: 80vw;
    margin: auto;
    padding: 40px 0;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 6px;
    margin-bottom: 8px;
    outline: 0;
    border: 0;
    color: #1a3358;
}

textarea {
    height: 150px;
}

label {
    padding: 10px 0;
    color: #0894CC;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.submit {
    padding: 5px 30px;
    font-weight: 800;
    color: #0894CC;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
}

.portfolio {
    /* margin: auto; */
    text-align: center;
    /* width: 100vw; */
    /* background-color: #0894CC; */
    /* padding-top: 40px; */
}

.portfolio > h1 {
    padding: 15px 0;
    text-transform: capitalize;
    color: #1a3358;
    padding-top: 40px;
    padding-bottom: 20px;
}

.project-scroll {
    background-color: #b0acac;
    text-transform: capitalize;
    color: #0894CC;
    font-weight: 600;
    padding: 10px 0;
}

.animation > img {
    width: 100%;
}

/* google map location */
.google-map{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-map > figure {
    text-align: center;
}

.google-map > figure > figcaption {
    background-color: #1a3358;
    color: #FFFFFF;
    padding: 5px 12px;
    border: 0;
}

.events {
    height: 80vh;
    background-color: #0894CC;
}

.news {
    width: 80vw;
    margin: auto;
    padding: 40px 0;
}

.news > h1 {
    color: #FFFFFF;
}

.news > hr {
    width: 9rem;
    border: 1.3px solid #1a3358;
    height: 2px;
    margin-bottom: 20px;
}

.news > menu {
    list-style: square;
}

.slide {
    display: flex;
    overflow: hidden;
    scroll-behavior: auto;
    gap: 10px;
}

.slide > img {
    height: 300px;
    width: 300px;
}

.contact {
    text-align: center;
    padding: 60px 0;
    margin: auto;
    width: 80vw;
}

.contact > h1 {
    text-align: left;
    color: #1a3358;
}

.contact > hr {
    width: 7rem;
    text-align: center;
    height: 2px;
    background-color: #0894CC;
    margin-bottom: 18px;
}

.contact > menu {
    list-style: none;
}

.contact > menu > li {
    padding: 4px 0;
    font-weight: 600;
}

/*footer section */
.footer {
    height: 12vh;
    background-color: #1a3358;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-footer {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
}

.div-footer > img {
    cursor: pointer;
}

.div-footer > a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    padding: 2px 18px;
    border-radius: 12px;
}